.favorites__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.favorites__header{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #A0A0A0;
    font-weight: normal;
    margin: 15px auto;
    grid-column-start:1;
    grid-column-end: 5;
}

.favorites__hint {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #A0A0A0;
    font-weight: normal;
    margin: 15px auto;
    grid-column-start:1;
    grid-column-end: 5;
}