.favorites__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.favorites__hint{
    font-size: 20px;
    color: #A0A0A0;
    margin: 15px auto;
    grid-column-start:1;
    grid-column-end: 5;
    font-family: Arial, Helvetica, sans-serif;
}

.favorites__header {
    font-size: 20px;
    color: #857d7d;
    margin: 15px auto;
    grid-column-start:1;
    grid-column-end: 5;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}